<div class="hero d-flex align-items-center justify-content-center min-vh-100">
  <section class="hero-section py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h1 class="display-4 fw-bold mb-3 ">Subscribe to our<br><span>newsletter</span></h1>
          <p class="lead mb-4">Get in touch with us to get your dream home. Your comfort is our first priority.</p>
          <div class="d-flex gap-3">
            <div class="mb-3">
              <input type="email" class="form-control" id="EMailForm" placeholder="Enter Your Mail Here">
            </div>
            <button type="submit" class="btn btn-primary btn-lg px-3">Get Started</button>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="pic_1.png" alt="Real Estate " class="img-fluid rounded-circle">
        </div>
      </div>
    </div>
  </section>
</div>
