<div class="frequently-asked">
  <section class="frequently-asked-section py-5 bg-light">
    <div class="container text-center">

      <h1 class="m-5">Frequently Asked Questions</h1>

      <div class="accordion" id="accordionExample">

        <div class="row">


          <div class="col-md-6">

            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  What is real state?
                </button>
              </h2>
              <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>

            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  Whats price of villa?
                </button>
              </h2>
              <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>

            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  What is an emergency fund?
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>

            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  What is financial planning?
                </button>
              </h2>
              <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>


          </div>



          <div class="col-md-6">


            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Why is saving important?
                </button>
              </h2>
              <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>

            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  What is credit score?
                </button>
              </h2>
              <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>

            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  Why should I care about inflation?
                </button>
              </h2>
              <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>

            <div class="accordion-item m-3">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  What can I find on your website?
                </button>
              </h2>
              <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This is the answer section.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
